## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
# Your code here
sample_list_1 = []
sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[10, 39, 63, 43, 83, 48, 19, 1, 52, 71, 41, 46, 49, 99, 40, 76, 73, 61, 67, 22, 94, 97, 78, 60, 56, 6, 34, 45, 88, 21, 24, 11, 64, 81, 38, 9, 86, 62, 89, 17, 65, 77, 33, 68, 18, 0, 8, 5, 70, 95, 47, 50, 69, 42, 53, 98, 23, 55, 14, 30, 31, 90, 4, 96, 59, 87, 32, 35, 91, 57, 80, 92, 84, 58, 51, 27, 54, 66, 16, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here
set1 = set(sample_list_1)
print(set1)

{0, 1, 4, 5, 6, 8, 9, 10, 11, 14, 16, 17, 18, 19, 21, 22, 23, 24, 27, 30, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 76, 77, 78, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [12]:
#Length of the set. 
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here
sample_list_2 = []
sample_list_2 = random.sample(range(0,100), 80)
print(sample_list_2)

[30, 43, 46, 98, 83, 86, 99, 84, 71, 92, 6, 17, 31, 65, 74, 68, 50, 20, 3, 44, 56, 45, 70, 82, 15, 28, 13, 73, 89, 62, 32, 5, 51, 12, 95, 81, 2, 97, 18, 91, 72, 61, 90, 60, 93, 37, 36, 57, 40, 29, 21, 7, 38, 69, 26, 94, 52, 19, 67, 9, 41, 55, 48, 42, 27, 53, 58, 66, 47, 14, 54, 0, 59, 76, 88, 35, 96, 77, 64, 34]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set2 = set(sample_list_2)
print(set2)

{0, 2, 3, 5, 6, 7, 9, 12, 13, 14, 15, 17, 18, 19, 20, 21, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 81, 82, 83, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [15]:
#Length of the set. 
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here
set3 = set1 - set2
print(set3)

{1, 33, 4, 39, 8, 10, 11, 78, 16, 49, 80, 22, 23, 24, 87, 63}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
# Your code here
set4 = set2 - set1
print(set4)

{2, 3, 36, 37, 7, 72, 74, 12, 13, 44, 15, 82, 20, 26, 28, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here
#intersección, aquellos elementos que comparten
set5 = set1.intersection(set2)
print(set5)

{0, 5, 6, 9, 14, 17, 18, 19, 21, 27, 30, 31, 32, 34, 35, 38, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 76, 77, 81, 83, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [57]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#P(AUB) = P(A) + P(B) - P(ANB)
#96 = 80 + 80 - 64

80
80
16
16
64

#### Create an empty set called `set6`.

In [83]:
# Your code here
set6 = set()

In [84]:
#Hacemos este check para comprobar que efectivamente es un set. 
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [93]:
# Your code here
#No me funcionaba el update method, y encontrado este que me parecia mucho más facil de usar.
set6 = set3 | set5
print(set6)

{0, 1, 4, 5, 6, 8, 9, 10, 11, 14, 16, 17, 18, 19, 21, 22, 23, 24, 27, 30, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 76, 77, 78, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [95]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [96]:
# Your code here
set1_in_set2 = set1.issubset(set2)
print(set1_in_set2)

False

In [97]:
set1_in_set3 = set1.issubset(set3)
print(set1_in_set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [100]:
# Your code here
set1_2 = set1.union(set2)
set1_2_3 = set1_2.union(set3)
set1_2_3_4 = set1_2_3.union(set4)
sets = set1_2_3_4.union(set5)
print(sets)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [102]:
# Your code here
first_element_set1 = set1.pop()
print(first_element_set1)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [110]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

#Iterate over the list of elements to be deleted
for i in list_to_remove:
    #Remove elements from the set1
    set1.discard(i)
print(set1)

{4, 5, 6, 8, 10, 14, 16, 17, 18, 22, 23, 24, 27, 30, 32, 33, 34, 35, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 76, 77, 78, 80, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}