# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [65]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.weightstats import ztest as ztest
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [66]:
# Your code here:
data = pd.read_csv('..\hypothesis-testing.csv')
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
AARON,JEFFERY M,SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
AARON,KARINA,POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
AARON,KIMBERLEI R,CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
ABAD JR,VICENTE M,CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
ABASCAL,REECE E,TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
ZYLINSKA,KATARZYNA,POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
ZYMANTAS,LAURA C,POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
ZYMANTAS,MARK E,POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
ZYRKOWSKI,CARLO E,POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
ZYSKOWSKI,DARIUSZ,CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [67]:
# Your code here:
data.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
AARON,JEFFERY M,SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
AARON,KARINA,POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
AARON,KIMBERLEI R,CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
ABAD JR,VICENTE M,CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
ABASCAL,REECE E,TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
ABBASI,CHRISTOPHER,STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
ABBATACOLA,ROBERT J,ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
ABBATE,JOSEPH L,POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
ABBATEMARCO,JAMES J,FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
ABBATE,TERRY M,POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [68]:
# Your code here:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33183 entries, AARON to ZYSKOWSKI
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.3+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [69]:
# Your code here:
hourly = data['Hourly Rate'].count()
salarly = data['Annual Salary'].count()

In [70]:
print(hourly)

8022

In [71]:
print(salarly)

25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [72]:
# Your code here:
employees_by_department = data.groupby(['Department'])['Department'].count().sort_values(ascending=False)
employees_by_department

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [73]:
# Your code here:
#Confidence level = 95%, significance level = 5%
#H1 > or < or distinta de $30 por lo tanto es 'two-sided', ya que es distinta que el hypotehised value.

confidence = 0.05
hourly = data[~data['Hourly Rate'].isnull()] #Remove the NaN hourly rates values

ztest,pval = ztest(hourly['Hourly Rate'],value=30,alternative='two-sided')
print(float(pval))

if pval<confidence:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

1.8228873859286195e-94
Reject null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [74]:
# Your code here:
#Confidence level = 95%, significance level = 5%
#H1 > $86000 por lo tanto es 'one-sided'

confidence = 0.05
hourly = data.loc[data['Department'] == 'POLICE'] #Solo vamos a realizar la hypotehsis en este departamento
hourly_police = police[police['Annual Salary'].isnull()] #Remove the NaN annual salary values

ztest ,pval = ztest(hourly_police['Annual Salary'],value=86000,alternative='larger')
print(float(pval))

if pval<(confidence):
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

NameError: name 'police' is not defined

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [77]:
# Your code here:
hourly= data[~data['Hourly Rate'].isnull()] #Removing Nan from Hourly rates column

confidence_level = 0.95
degrees_freedom = len(data) - 1
sample_mean = np.mean(hourly['Hourly Rate']) 
sample_standard_error = stats.sem(hourly['Hourly Rate'])

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
confidence_interval

(32.52348867934135, 33.05362675321913)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [78]:
# Your code here:
annual = data[~data['Annual Salary'].isnull()] #Removing NaN from Annual salary column

confidence_level = 0.95
degrees_freedom = len(data) - 1
sample_mean = np.mean(annual['Annual Salary']) 
sample_standard_error = stats.sem(annual['Annual Salary'])

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
confidence_interval

(86526.99959172707, 87046.99998857579)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: